[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-algorand-sdk = ">=1.17.0"
pyteal = ">=0.18.1"
beaker-pyteal = ">=0.1.9a0"

[dev-packages]
pytest = "*"
pytest-sugar = "*"
black = "*"
autoflake = "*"

[requires]
python_version = "3.10"
