[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-algorand-sdk = {version=">=2.0.0", index="pypi"}
pyteal = {version=">=0.22.0", index="pypi"}
beaker-pyteal = {version=">=0.5.4", index="aws"}


[dev-packages]
pytest = {version=">=7.2.0", index="pypi"}
pytest-sugar = {version="*", index="pypi"}
black = {version="*", index="pypi"}
autoflake = {version="*", index="pypi"}


[requires]
python_version = "3.10"
